@import "styles/typography";

.imageUpload {
  .uploadButton {
    @include HeadingS;

    width: 193px;
    height: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-primary);
    background-color: var(--color-lighten-purple);
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
}
