@import "styles/typography";

.text {

  &.primary {
    color: var(--color-primary);
  }

  &.danger {
    color: var(--color-danger);
  }

  &.default {
    color: var(--color-grey);
  }

  &.small {
    @include BodyS;
  }

  &.medium {
    @include BodyM;
  }

  &.strong {
    font-weight: 700;
  }
}
